.sort {
  display: inline-block;
  display: grid;
  grid-template-columns: auto auto;
  gap: 2.5rem;
}

.sort span {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
}

.sort span:not(.active) {
  grid-template-columns: 1fr;
}

.sortIcon {
  display: none;
}

.active {
  color: var(--primary);
  font-weight: bold;
}

.active .sortIcon {
  display: block;
  margin-right: .5rem;
}