.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 1.25rem;
  align-items: baseline;
  justify-items: left;
}

.hhTitle {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.25rem;
  align-items: baseline;
  justify-items: left;
}

.seo h1 {
  margin: 0;
  font-weight: 500;
  font-size: 1.625rem;
  line-height: 2.188rem;
}
.seo h2 {
  margin: 3.125rem 0 1.5625rem;
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.875rem;
}
.seo h3 {
  margin: 0;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.688rem;
}